html
  head
    title My Jesus Flips Tables
    script(src='/javascripts/new.js')
    link(rel='stylesheet', href='/stylesheets/newStyle.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
  body
    .header
      .links.links-left
        a(href='www.google.com') first link
        br
        a(href='www.google.com') second link
      .titles(onclick='window.location="/test"')
        .title
          | MY JESUS FLIPS TABLES
        .sub
          | YOUR 12 DOLLAR CAPPUCCINO CAN'T HANDLE THE GOSPEL
      .links.links-right
        a(href='www.google.com') first link
        .br
        a(href='www.google.com') second link
    .main
      .maincontain
        #title.articletitle(contenteditable='true') enter a title here
        .br
        .content
          .editor
            #text.text(contenteditable='true')
        #submit.submit(onclick='sub()') SAVE
    .footer
      .copyright
        | © 2015 ISAIAH TAYLOR
